@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-workSans{
    font-family: "Work Sans", sans-serif;
}

body{
    font-family: "Work Sans", sans-serif;
    color: #131313;
}
.menu .active{
    color: #23BE0A !important;
    background: white !important;
    font-weight: 600;
    border: 1px solid #23BE0A;
}